<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>设备类型管理</title>
    <link rel="stylesheet" href="/resources/layui/css/layui.css" media="all"/>
    <link rel="stylesheet" href="/resources/css/public.css" media="all"/>
</head>
<body class="childrenBody">
<!-- Search -->
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 15px;">
    <legend>查询条件</legend>
</fieldset>
<form action="" method="post" id="searchFrm" lay-filter="searchFrm" class="layui-form">
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">类型名称</label>
            <div class="layui-input-inline">
                <input type="text" name="name" class="layui-input input-radius" placeholder="请输入类型名称">
            </div>
        </div>
        <div class="layui-inline">
            <button type="button" class="layui-btn layui-btn-sm layui-btn-radius" lay-submit="" lay-filter="doSearch"><i class="layui-icon layui-icon-search"></i>查询</button>
            <button type="reset" class="layui-btn layui-btn-sm layui-btn-radius layui-btn-warm"><i class="layui-icon layui-icon-refresh"></i>重置</button>
        </div>
    </div>
</form>

<!-- Table -->
<div>
    <table class="layui-hide" id="typeTable" lay-filter="typeTable"></table>
    <div id="typeToolBar" style="display: none">
        <button type="button" lay-event="add" class="layui-btn layui-btn-sm layui-btn-normal layui-btn-radius">
            <i class="layui-icon layui-icon-add-1"></i>添加类型
        </button>
    </div>
    <div id="typeRowBar" style="display: none;">
        <button type="button" lay-event="update" class="layui-btn layui-btn-xs layui-btn-radius"><i class="layui-icon layui-icon-edit"></i>修改</button>
        <button type="button" lay-event="delete" class="layui-btn layui-btn-xs layui-btn-danger layui-btn-radius"><i class="layui-icon layui-icon-delete"></i>删除</button>
    </div>
</div>

<!-- Add/Update Modal -->
<div id="addOrUpdateDiv" style="display: none;padding: 10px;">
    <form action="" method="post" class="layui-form" id="dataFrm" lay-filter="dataFrm">
        <input type="hidden" name="id">
        <div class="layui-form-item">
            <label class="layui-form-label">类型名称</label>
            <div class="layui-input-block">
                <input type="text" name="name" lay-verify="required" class="layui-input input-radius" placeholder="请输入类型名称">
            </div>
        </div>
        <div class="layui-form-item" style="text-align: center;">
            <button type="button" class="layui-btn layui-btn-radius" lay-submit="" lay-filter="doSubmit"><i class="layui-icon layui-icon-search layui-icon-normal"></i>提交</button>
            <button type="reset" class="layui-btn layui-btn-radius layui-btn-warm"><i class="layui-icon layui-icon-refresh"></i>重置</button>
        </div>
    </form>
</div>

<script type="text/javascript" src="/resources/layui/layui.js"></script>
<script type="text/javascript">
    layui.use(['jquery', 'form', 'layer', 'table'], function () {
        var $ = layui.jquery;
        var form = layui.form;
        var layer = layui.layer;
        var table = layui.table;

        var tableIns = table.render({
            elem: "#typeTable",
            url: "/assetType/loadAssetTypeManager",
            toolbar: "#typeToolBar",
            page: true,
            cols: [ [
                {field: 'id', title: 'ID', align: 'center', width: 80},
                {field: 'name', title: '类型名称', align: 'center'},
                {field: 'createTime', title: '创建时间', align: 'center'},
                {fixed: 'right', title: '操作', toolbar: '#typeRowBar', align: 'center', width: 200}
            ] ]
        });

        form.on("submit(doSearch)", function (data) {
            tableIns.reload({where: data.field, page: {curr: 1}});
            return false;
        });

        table.on("toolbar(typeTable)", function (obj) {
            if (obj.event === 'add') openAddLayer();
        });

        table.on("tool(typeTable)", function (obj) {
            if (obj.event === 'delete') deleteType(obj.data);
            else if (obj.event === 'update') updateType(obj.data);
        });

        var mainIndex, url;

        function openAddLayer() {
            mainIndex = layer.open({
                type: 1, content: $("#addOrUpdateDiv"), area: ['400px', '200px'], title: '添加类型',
                success: function () {
                    $("#dataFrm")[0].reset();
                    url = "/assetType/addAssetType";
                }
            });
        }

        function updateType(data) {
            mainIndex = layer.open({
                type: 1, content: $("#addOrUpdateDiv"), area: ['400px', '200px'], title: '修改类型',
                success: function () {
                    $("#dataFrm")[0].reset();
                    form.val("dataFrm", data);
                    url = "/assetType/updateAssetType";
                }
            });
        }

        form.on("submit(doSubmit)", function (data) {
            $.post(url, data.field, function (res) {
                if (res.code == 200) tableIns.reload();
                layer.msg(res.msg);
                layer.close(mainIndex);
            });
            return false;
        });

        function deleteType(data) {
            layer.confirm('确定要删除【' + data.name + '】吗？', function (index) {
                $.post("/assetType/deleteAssetType", {id: data.id}, function (res) {
                    if (res.code == 200) tableIns.reload();
                    layer.msg(res.msg);
                });
                layer.close(index);
            });
        }
    });
</script>
</body>
</html>